<div class="">
  <h3>... Then add here some information!</h3><br>
</div>
<div class="">
  <form [formGroup]="editAssetForm" 
        (ngSubmit)="saveSession(editAssetForm.value)" 
        autocomplete="off">
    
    <!-- we need to wire up each of our form fields to their corresponding controls-->    
    <div class="form-group" [ngClass]="{'error': name.invalid && name.touched }">
      <label for="sessionName">Asset's Name:</label><br>
      <em *ngIf="(name.invalid && name.touched || name.invalid && name.dirty)">Required</em>
      <!-- formControlName="name" -->
      <input [(ngModel)]="asset.name" formControlName="name" id="sessionName" type="text" class="form-control" placeholder="New Asset name..." />
    </div>

    <!-- Group input -->
    <div class="form-group"><br>
      <label for="g_id">Assigned group:</label><br>
      <em *ngIf="g_id.invalid && g_id.dirty">Required</em>
      <!--  -->
      <select formControlName="g_id"
              [(ngModel)]="asset.group_id"
              name="g_id" 
              class="form-control" 
              type="number">
        <option 
          *ngFor= "let arr of groupArr" 
          [value]="arr"> {{ arr }}
        </option>
      </select>
    </div>

    <!-- Current date label -->
    <div class="form-group"><br>
      <label for="updated">Today is (Modification date): 
        <strong>{{ today | date }}</strong></label><br>
    </div><br>
    

    <div 
      class="form-group" 
      [ngClass]="{'error': description.invalid && description.touched }"> 
      <!-- red background style-->
      <label for="description">Description:</label><br>
      <em *ngIf="onInvalidDescription()">{{ onInvalidDescription() }}</em>
      <textarea 
        [(ngModel)]="asset.description"  
        formControlName="description"
        id="description" rows=3 
        class="form-control" 
        placeholder="Please, add a description..."
      ></textarea>
    </div>

    <br>
    <button type="submit" class="" [disabled]="editAssetForm.invalid" >Save</button>
    <button type="submit"  class="" (click)="onDeleteBtnClick()" >Delete</button>
    <button type="button" class="" (click)="onCancelClick()" >Cancel</button>
  </form>
</div>