.container {
  background-color: yellow;
  margin: 0.5em;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0.5em;
  max-width: 100%;
}

.btn {
  display: block;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  background-image: none;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn:hover {
  color: lightgray;
  background-color: #0069d9;
  border-color: #0062cc;
}

/* .btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
} */