<div class="">
  <h3>... Then add here some information!</h3><br>
</div>
<div class="">
  <form [formGroup]="newGroupForm" (ngSubmit)="saveSession(newGroupForm.value)" autocomplete="off">
    
    <!-- we need to wire up each of our form fields to their corresponding controls-->    
    <div class="form-group" [ngClass]="{'error': name.invalid && name.dirty }">
      <label for="sessionName">Asset's Name:</label><br>
      <em *ngIf="name.invalid && name.dirty">Required</em>
      <!-- formControlName="name" -->
      <input [(ngModel)]="asset.name" formControlName="name" id="sessionName" type="text" class="form-control" placeholder="New Asset name..." />
    </div>

    <!--  -->
    <div class="form-group"><br>
      <label for="g_id">Group you would like to assign:</label><br>
      <em *ngIf="g_id.invalid && g_id.dirty">Required</em> <!-- -->
      <!-- Taking the Name -->
      <select formControlName="g_id" name="g_id" class="form-control" type="number">
        <option value="">select the new group...</option>
        <option 
          *ngFor= "let arr of groupArr" 
          [value]="arr"> {{ arr }}
        </option>
      </select>
    </div>

    <!-- Taking the date -->
    <div class="form-group"><br>
      <label for="updated">Today is (Modification date): 
        <strong>{{ today | date }}</strong></label><br>
    </div><br>
    

    <div class="form-group" [ngClass]="{'error': description.invalid && description.dirty }"> <!-- red background style-->
      <label for="description">Description:</label><br>
      <em *ngIf="description.invalid && description.dirty && description?.errors.required">Required</em> <!-- -->
      <em *ngIf="description.invalid && description.dirty && description?.errors.maxLength">cannot exceed 400 characters</em> <!-- -->
      <em *ngIf="description.invalid && description.dirty && description?.errors.restrictedWords"> {{description.errors.restrictedWords}} is a forbiden word ;)</em>
      <!-- formControlName="description" -->
      <textarea [(ngModel)]="asset.description"  formControlName="description" id="description" rows=3 class="form-control" placeholder="Do you have another description?..."></textarea>
    </div><br>
    <button type="submit" class="" [disabled]="newGroupForm.invalid" >Save</button>
    <!-- <button type="reset"  class="" (click)="onResetlClick()" >Reset</button> -->
    <button type="button" class="" (click)="onCancelClick()" >Cancel</button>
  </form>
</div>