<div class="navbar2" >
  
  <div class="nav2">
    <a class="" >AssetGroupingApp</a>
  </div>

  <div class="" >

    <ul class="nav2">
      <li>
        <a [routerLink]="['/events']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >All Assets</a>
      </li>
      <li><a [routerLink]="['/events/new']" routerLinkActive="active" href="">Insert an Asset</a></li>
      <li><a>Insert a Group(this is the next feature!!!)</a></li>
    </ul>

    <ul class="nav2 dropdown" appDropdown>
      <li><a class="dropdown">Dropdown</a></li>
      <div class="dropdown-menu">
        <li> <a class="dropdown-item">li and a</a></li>
        <li class="dropdown-item">li Alone</li>
        <a  href="http://www.google.com" class="dropdown-item">a Alone - google</a>
        <li><a class="dropdown-item">Save Data</a></li>
        <li class="disabled"><a class="dropdown-item">Fetch Data - disabled</a></li>
        <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
        <p>p Alone!</p>
      </div>
    </ul>


    <div class=" navbar-right2">
      <ul class="nav2">
        <li>
          <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
          <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{ auth.currentUser.firstName }}</a>
        </li>
      </ul> 
    </div>
  </div>
</div>





