<div class="navbar2" >
  
  <div class="">
    <a class="" >AssetGroupingApp</a>
  </div>


    <my-menu-item></my-menu-item>

    <ul class="nav2 dropdown" appDropdown>
      <li>
        <a class="dropdown">Dropdown</a>
      </li>
      <!-- dropdown -->
      <div class="dropdown-menu" >
        <li 
          *ngFor="let item of items"
          [ngClass]="onDropdownClass(item)">
          <a 
            [href]="item.onClick()" 
                > {{ item.getName }}
          </a>
        </li>
          <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
          <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{ auth.currentUser.firstName }}</a>
        <hr/>
        <li class="enabled">
          <a >Last Item </a>
        </li>
      </div>
      <!--  -->
    </ul>


  <div class="navbar-right2">
    <ul class="nav2">
      <li>
        <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
        <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{ auth.currentUser.firstName }}</a>
      </li>
    </ul> 
  </div>

</div>




<!-- 
NOTE:
  ngIf in Login element:
    *ngIf="!auth.isAuthenticated()"

 -->
