<div class="">
  <h3>{{asset?.name | uppercase }}</h3>
  
  <!-- ---------- -->
  <!-- List class -->
  <ng-container *ngIf="itemClass == 'list'">
    
    <span  
      [ngSwitch]="asset?.suffix">
        Type: {{ asset?.suffix }} {{ assetSuffix }}
    </span>

    <span [ngStyle]="getStartTypeStyle()" >Group: {{asset?.group_id}}</span>

    <span *ngIf="asset?.GPSposition" class="location">
      <span> Lat: {{asset?.GPSposition?.y}} </span>
      <span> Lng: {{asset?.GPSposition?.x}} </span>        
    </span>

  </ng-container>


  <!-- ---------- -->
  <!-- Grid class -->
  <ng-container *ngIf="itemClass == 'grid'">
    
    <div class="cont">
      <!-- line one -->
      <div>
        <span class="left"
              [ngSwitch]="asset?.suffix">
              Type: {{ asset?.suffix }} {{ assetSuffix }}
        </span>
        <span class="right"
              [ngStyle]="getStartTypeStyle()">
              Group: {{asset?.group_id}}
        </span>
      </div>
      <!-- line two -->
      <div>
        <span class="left"
              [ngSwitch]="asset?.suffix">
              Type: {{ asset?.suffix }} {{ assetSuffix }}
        </span>
        <span class="right" 
              [ngStyle]="getStartTypeStyle()">
              Group: {{asset?.group_id}}
        </span>
      </div>
      <!-- line three -->
      <div>
        <span class="left"
              [ngSwitch]="asset?.suffix">
              Type: {{ asset?.suffix }} {{ assetSuffix }}
        </span>
        <span class="right" *ngIf="asset?.GPSposition"
              [ngStyle]="getStartTypeStyle()">
            Latitude: {{asset?.GPSposition?.y}}
            Longitude: {{asset?.GPSposition?.x}}  
        </span>
      </div>   
    </div>
    
    
  </ng-container>

<!--  -->
<div class= "info">{{ asset?.description | limitTo:100 }}</div>
</div>







<!-- OLD WAY I DID IT USING ngSwitchCase -->
<!-- <span 
  [ngStyle]="getStartTypeStyle()" 
  [ngSwitch]="asset?.suffix"
  >
    Type: {{asset?.suffix}}
  <span *ngSwitchCase="'gif'">(animated image)</span>
  <span *ngSwitchCase="'jpg'">(static image)</span>
  <span *ngSwitchCase="'jpeg'">(static image)</span>
  <span *ngSwitchCase="'mp4'">(video)</span>
  <span *ngSwitchDefault>(Normal file)</span>
</span> -->
