    :host {
      margin: 4px;
      display: block;
    }

    .info {
      font-size: 10px;
      text-align: justify;
      display: auto;
    }

    .half{
      background-color: pink;
      width: calc(100% / 2); 
    }

    .left {
      background-color: orange;
      width: calc(100% / 2); 
      margin: none;
      float: left;
    }

    .right {
      background-color: cyan;
      width: calc(100% / 2); 
      margin: none;
      float: right;
    }

    .cont {
      display: grid;
    }

    span {
      font-size: 12px; /* Some tweener fallback that doesn't look awful */ 
      font-size: 1.6vw;  
    }

    @media screen and (min-width: 1000px) {
      span {
        font-size: 16px;
      }
    }