<div class="">
  <h3>{{asset?.name | uppercase }}</h3>
  
  <!-- ---------- -->
  <!-- List class -->
  <ng-template [ngIf]="itemClass == 'list'">
    
    <span  
      [ngSwitch]="asset?.suffix">
        Type: {{ asset?.suffix }} {{ assetSuffix }}
    </span>

    <span [ngStyle]="getStartTypeStyle()" >Group: {{asset?.group_id}}</span>

    <span *ngIf="asset?.GPSposition" class="location">
      <span> Lat: {{asset?.GPSposition?.y}} </span>
      <span> Lng: {{asset?.GPSposition?.x}} </span>        
    </span>

  </ng-template>


  <!-- ---------- -->
  <!-- Grid class -->
  <ng-template [ngIf]="itemClass == 'grid'">
    
    <div class="cont">
      <!-- line one -->
      <div>
        <span class="left"
              [ngSwitch]="asset?.suffix">
              Type: {{ asset?.suffix }} {{ assetSuffix }}
        </span>
        <span class="right"
              [ngStyle]="getStartTypeStyle()">
              Group: {{asset?.group_id}}
        </span>
      </div>
      <!-- line two -->
      <div>
        <span class="left"
              [ngSwitch]="asset?.suffix">
              Type: {{ asset?.suffix }} {{ assetSuffix }}
        </span>
        <span class="right" 
              [ngStyle]="getStartTypeStyle()">
              Group: {{asset?.group_id}}
        </span>
      </div>
      <!-- line three -->
      <div>
        <span class="left"
              [ngSwitch]="asset?.suffix">
              Type: {{ asset?.suffix }} {{ assetSuffix }}
        </span>
        <span *ngIf="asset?.GPSposition" class="right"
              [ngStyle]="getStartTypeStyle()">
            Latitude: {{asset?.GPSposition?.y}}
            Longitude: {{asset?.GPSposition?.x}}  
        </span>
      </div>   
    </div>
    
  </ng-template>

<!--  -->
<div class= "info">{{ asset?.description | limitTo:100 }}</div>
</div>